<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <title>Weather App</title>
</head>
<body>
    <div class="app-wrap">
        <header>
            <input type="text" class="search-box" autocomplete="off" placeholder="Search for a City...">
        </header>
        <main>
            <section class="location">
                <div class="city">--</div>
                <div class="date">--</div>
            </section>
            <div class="current">
                <div class="temp">--<span>°C</span></div>
                <div class="weather">--</div>
                <div class="hi-low">-- / --</div>
            </div>
        </main>
    </div>
    <footer class="footer">By Prince Musole &copy; <span id="date"></span></footer>
    <script src="../app/main.js"></script>
</body>
</html>